{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
{% endblock %}

{% block title %}
    RESET YOUR PASSWORD
{% endblock %}

{% block content %}
    <header class="navbar navbar-default" id="sign-up" role="banner">
        <div class="navbar-container">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" a href="/">
                    <h2>SPARTAN</h2>
                </a>
            </div>
            <div class="navbar-header pull-right" role="navigation">
                <a class="btn btn-positive" id="login_button" href="/"><h2>REGISTER</h2></a>
            </div>
        </div>
    </header>
    <div class="login-main-container">
        <div class="login-view">
            <div class="col-md-12 col-xs-12">
                <div class="main-sign-up-form">
                  <form method="post" action=".">
                      <div class="title-area">
                          <h3>RESET YOUR PASSWORD</h3>
                      </div>
                      <div class="fields-area">
                          {% csrf_token %}
                          {{ form.as_p }}
                      </div>
                      <div class="registration-area">
                          <button class="btn-btn-positive" type="submit" value="Submit"><h4>RESET</h4></button>
                      </div>
                  </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}