/* Global Styles */

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Abel', sans-serif;
}


div {
    display: block;
}

header {
    display: block;
}

@media (min-width: 768px) {
    .container {
        width: 750px;

    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.bs-footer-content {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}

.bs-footer-content-links {
    padding-left: 0;
    margin-bottom: 20px;
}

.bs-footer-content-links li {
    display: inline-block;
}

.bs-footer-content-links li+li {
    margin-left: 15px;
}

.bs-footer-content-links a {
    color: white;
}

.bs-footer-content p {
    color: white;
    margin-bottom: 0;
}

/* End of Global Styles */

/* Registration & Login pages */
@media (min-width: 768px) {
   .navbar {
       min-height: 70px;
       z-index: 1000;
       zoom: 2;
   }
}



header#sign-up.navbar.navbar-default {
    background-color: black;
    border: none;
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 0;
}

.navbar-container {
    padding-right: 0;
    float: left;
    width: 100%;
    position: relative;
}

.navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    margin-left: 20px;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-container .btn {
    padding-top: 20px;
    padding-bottom: 20px;
}


a#login_button.btn.btn-positive {
    color: white;
    border-radius: 2px;
    border: none;
    line-height: 1.7;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    margin-left: 20px;
}

@media only screen and (max-width: 1100px) {
    .main-sign-up-form {
        margin: 0 auto;
        width: 540px;
    }
}

.login-main-container {
    top: 65px;
}
.col-xs-12 {
    width: 100%;
}

form {
   /* display: block;*/
    width: 50%;
    margin: 0 auto;
}

div.title-area {
    zoom: 1;
    padding: 0 40px;
    position: relative;
}

.title-area h3 {

}

.fields-area {
    margin: auto;
    display: block;
    zoom: 1;
    padding: 15px 40px;
}

.fields-area p {
    display: block;
    margin: auto;
}

.main-sign-up-form .fields-area input {
    display: block;
    position: relative;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.registration-area {
    display: block;
    margin: 0 auto;
}
/* End of Registration & Login pages */

/* Landing Page */

div#content.header {
    background-color: black;
    height: 100px;

}

.navbar-nav>li>a {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}

.navbar-toggle {
    background-color: white;
}

.navbar .navbar-collapse {
    min-height: 130px;
    margin-bottom: 0!important;
}

.navy-container {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
}

@media (max-width: 1350px) {
    .navy-container {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.main-heading h1 {
    font-size: 65px;
}

.content-body p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 40px;
    color: white;
}

div.banner-content {
    width: 100%;
}

div.about-container {
    padding-top: 45px;
    margin-bottom: 55px;
}

h2#about {
    text-align: center;
    margin-bottom: 35px;
    font-size: 40px;
}

div.paragraph-body {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 27px;
    width: 75%;
    margin: 0 auto;
}

div.content-images {
    width: 100%;
    margin-bottom: 55px;
    padding-bottom: 55px;
}

div.spartan-content {
    padding-top: 60px;
    margin-left: -15px;
    margin-right: -15px;
}

div.content-heading {
    text-align: center;
    padding-top: 40px;
}

h2#content {
    font-size: 50px;
}

.fitness-content {
    width: 100%;
    text-align: center;
    height: 260px;
    line-height: 250px;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
}

.nutrition-content {
    width: 100%;
    text-align: center;
    height: 260px;
    line-height: 250px;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
}

.plan-content {
    width: 100%;
    text-align: center;
    height: 260px;
    line-height: 250px;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
}

.content-paragraph {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 200;
}

div.content-info2 {
    width: 100%;
    padding-bottom: 10%;
}

.content-img {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 240px;
    text-align: center;
    line-height: 250px;
    vertical-align: middle;
}

.banner-content {
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    height: 550px;
    width: 230px;
}

.content-banner {
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    height: 550px;
    width: 100%;
}

.main-heading {
    font-size: 48px;
    color: white;
    font-family: 'Abel', sans-serif;
}

.small-heading {
    text-align: center;
    font-size: 48px;
    font-family: 'Abel', sans-serif;
    padding-bottom: 10px;
}

.email-me a {
    color: white;
}


/* End of Landing Page */


/* User Dashboard */

h2#user-dash {
    font-size: 38px;
}

.dashboard-container {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1200px) {
    .col-lg-12 {
        width: 100%;
    }
}

h3.panel-title {
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
}

.user-info-title {
    font-size: 22px;
    color: black;
    letter-spacing: 1px;
}

.user-info-table {
    font-size: 17px;
    color: black;
    line-height: 21px;
    font-family: 'Abel', sans-serif;
}
/* End of User Dashboard */